@import url("https://fonts.googleapis.com/css?family=Lora|Roboto");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");


body{
    font-family:"Lora", serif;
    font-size: 18px;
    margin: 0px;
}

h1,h2,h3{
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}
a{
    text-decoration: none;
}

.container{
    width:720px;
    margin:0 auto;
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

.cards{
  display: flex;
  flex-wrap: wrap;
}

.card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  box-shadow: 0px 5px 15px rgb(178, 177, 177);
  border-radius: 6px;
  margin: 10px;
  flex-basis: 250px;
  flex-grow: 1;
  background-color: white;
}

.card img {
  width: 100%;
  max-width: 150px;
  margin-bottom: 15px;
  border-radius: 6px;
}

.card h3 {
  flex-grow: 1;
  padding-left: 20px;
  font-size: 24px;
  margin-bottom: 15px;
}


.banner {
    background-image:url(../images/background.jpeg);
    color: white;
    padding: 100px 0px;
    background-size: cover;
    background-position: center;
}

.banner h1 {
    font-size: 40px;
}

.banner h2 {
    font-size: 30px;
    font-weight: lighter;
    opacity: 0.8;
    margin-bottom: 40px;
}

.btn-blue {
    display: inline-block; 
    padding: 15px 25px;   
    border-radius: 4px;    
    
    background-color: pink; 
    color: white;             

    font-weight: bold;     
    font-family: 'Roboto', sans-serif; 
    text-decoration: none;  
}